/* RESET GERAL */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* BODY */
body {
    font-family: "Baloo Tamma 2", Geneva, Tahoma, sans-serif;
    background-color: #dfdfdf;
}

/* MENU */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #bfbfbf;
}

.logo {
    margin: 4px 25px ;
}

.logotipo {
    max-width: 300px;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu a {
    color: black;
    font-size: 1.18em;
    margin: 0 15px;
    display: block;
    padding: 10px;
}

.menu a:hover {
    color:#555555;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}
 
@media (300px) {
    .menu {
        width: 100%;
    }
}
