
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,ul,li,p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
a{
    text-decoration: none;
}
body {
    background-color: #dfdfdf;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #00000030;
    border-radius: 15px;
    margin: 30px;
}

.logotipo {
    width: 300px;
    height: auto;
}

.menu {
    
    display: flex;
}

li {
    padding: 35px;
}